configuration {
  location: 0;
  cycle: true;
  modi: "run,drun,window";
  icon-theme: "Oranchelo";
  show-icons: true;
  terminal: "alacritty";
  drun-display-format: "{icon} {name}";
  disable-history: false;
  hide-scrollbar: true;
  display-drun: "   Apps ";
  display-run: "   Run ";
  display-window: " 﩯  Window";
  display-Network: " 󰤨  Network";
}

window {
  border: 3px;
  height: 50%;
  width: 50%;
}
