/* Styling guide: https://cloudninja.pw/docs/wofi.html */
window {
  background:none;
}

#outer-box {
  margin: 3px;
  border-radius: 8px;
  /* box-shadow: .5px .5px 1.5px 1.5px rgba(0, 0, 0, .5); */
  /* background-color: rgba(256, 256, 256, 0.6); */
}

#input {
  margin: 1rem;
  padding: 1rem;
  font-size: 2em;
  border-radius: 8px;
  box-shadow: .5px .5px 1.5px 1.5px rgba(0, 0, 0, .5);
  /* background: none; */
  background-color: rgba(256, 256, 256, 0.6);
}

#scroll {
  margin: 1rem;
  border-radius: 8px;
  box-shadow: .5px .5px 1.5px 1.5px rgba(0, 0, 0, .5);
  /* background: none; */
  background-color: rgba(256, 256, 256, 0.6);
}

#entry {
  margin: 0.7rem;
  margin-bottom: 0;
  color: #4c4f69;
  border-radius: 8px;
}

#text {
  margin: .5rem;
  font-size: 1.5em;
}

#img {
  margin-left: .5rem;
}

#entry:selected {
  outline: none;
  color: #4c4f69;
  background: rgba(188, 192, 204, 0.2);
  box-shadow: .5px .5px 1.5px 1.5px rgba(0, 0, 0, .5);
}

#text:selected {
  color: #4c4f69;
}
